name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  continuous_integration_build:
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, jruby-head]
        operating-system: [ubuntu-latest, windows-latest]

    name: Ruby ${{ matrix.ruby }} on ${{ matrix.operating-system }}

    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Run Build
        run: bundle exec rake build
